/* --- Estilos Generales --- */
body {
    margin: 0;
    padding: 0;
    background-color: #121212; /* Fondo muy oscuro */
    color: #e0e0e0; /* Texto gris claro */
    font-family: 'Lato', sans-serif; /* Fuente para leer fácil */
}

h1, h2, h3, nav a {
    font-family: 'Cinzel', serif; /* Fuente medieval */
    text-transform: uppercase;
}

.container {
    max-width: 1200px; /* Aumentado ligeramente para dar espacio a dos columnas */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* --- Encabezado --- */
header {
    background-color: #1a0505; /* Rojo oscuro casi negro */
    border-bottom: 2px solid #8b0000; /* Borde rojo sangre */
    padding: 20px 0;
}

header h1 {
    color: #d4af37; /* Color Oro */
    margin: 0;
}

nav {
    margin-top: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #d4af37; /* Cambia a oro al pasar el mouse */
}

/* --- Sección Hero (Portada) --- */
.hero {
    /* Fondo de Ancalagon el Negro */
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRia6Lxorj3PEoe2Tr89mf9nxyccqR7OsDt-6YRqfxj-XmgpFsne-yYx0K-E2IqFXgE4kOtO12hgwQMrC4mTd104g1a9_ui5FNt-PPH2eQR&s=10');
    background-size: cover;
    background-position: center center; /* Centra al dragón */
    background-attachment: fixed; /* Efecto especial: la imagen se queda quieta al bajar */
    padding: 150px 20px; 
    text-align: center;
    border-bottom: 4px solid #d4af37;
}

.hero h2 {
    font-size: 2.5rem;
    color: #f5f